nav .changePw i {
    background: url('../images/icon/svg/nav_password.svg') no-repeat;
    background-size: contain;
}
nav .viewMode i {
    background: url('../images/icon/svg/nav_mode_1.svg') no-repeat;
    background-size: contain;
}
nav .logout i {
    background: url('../images/icon/svg/nav_logout.svg') no-repeat;
    background-size: contain;
}
nav .menu_ic {
    background: url('../images/icon/svg/nav_home.svg') no-repeat;
    background-size: contain;
}
nav .file_ic {
    background: url('../images/icon/svg/nav_file.svg') no-repeat;
    background-size: contain;
}
nav .level_ic {
    background: url('../images/icon/svg/nav_level.svg') no-repeat;
    background-size: contain;
}