html {

    body {
        background: $BG;

        main {
            width: 100%;
            height: auto;
            display: flex;
        }

        @import "./nav";
        @import "./home";
    }
}